:root {

    --page-background: #ffffff;
}
 
/* Reset */ 

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0; 
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.header {
    border-bottom: 1px solid #e7e9fc;

}

.cont {
    display: flex;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;

}

.nav {
    display: flex;
    align-items: center;
}

.listnav {
    display: flex;
    gap: 40px;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: #404bbf;
}

img {
    display: block;
}



.link-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.stu {
    color: #2e2f42;
}

.stf {
    color: #f4f4fd;
}

.pha {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.list {
    list-style: none;
}

.listi {
    display: flex;
    gap: 40px;
}

.liss {
    display: flex;
    gap: 24px;
}

.lili {
    width: calc((100% - 72px) / 4);
}

.lilit {
    width: calc((100% - 48px) / 3);
}

.link-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.link-nav:hover,
.link-nav:focus {
    color: #404bbf;
}


.adress {
    font-style: normal;
}


.link-ad {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    gap: 40px;
}

.sec {
    background-color: #2e2f42;
    padding: 188px 0;
}

.has {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}

.but {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px; 
    cursor: pointer;
}

.sect {
    padding: 120px 0;

}

.but:hover,
.but:focus {
    background-color: #404BBF;
}


button {
    cursor: pointer;
 background-color: #F4F4FD;
 color: #4D5AE5;
}

.zagolovok {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px; 
}

.zago {
    text-align: center;
    margin-bottom: 8px;
}

.para {
    text-align: center;
}


.paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.sectio {
    padding-bottom: 120px;
}


.zgg {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}


.secn {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.foo {
    background-color:#2e2f42;
    padding: 100px 0;
}

.logolo {
    display: inline-block;
    margin-bottom: 16px;
}


.pun {
    background-color: #FFFFFF; 
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.employ {
    padding: 32px 16px;

}

button:hover,
button:focus {
    cursor: pointer;
 background-color: #F4F4FD;
 color: #4D5AE5;
    text-decoration: underline;
    text-decoration-color: violet;
}

button:active {
    cursor: pointer;
 background-color: #F4F4FD;
 color: #4D5AE5;
    text-decoration: underline;
    text-decoration-color: violet;

}

.all {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    cursor: pointer;
    background-color: #F4F4FD;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
}

.all:hover,
.all:focus {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}

.secsec {
    padding-top: 96px; 
    padding-bottom: 120px;
}

.listik {
    display: flex;
    justify-content: center; 
    gap: 24px; 
    margin-bottom: 72px;
}

.listtt {
    display: flex;
    flex-wrap: wrap; 
    column-gap: 24px;
    row-gap: 48px;
}

.spisok {
    width: calc((100% - 48px) / 3);
}


.konta {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}



.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
  